*{
    margin: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: auto 12rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Rambla';
    font-weight: 700;
    color: #fff;
    font-size: 3rem;
}
/* header */
.navbar{
    display: flex;
    justify-content: space-between;
    height: 5.875rem;
    padding: 0 3.12rem ;
    align-items: center;
    gap: 45.25rem;
    align-self: stretch;
    background: #222;
}
.nav-brand{
    font-family: "Rambla";
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    margin-left: 1rem;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30.375rem;
    height: 3.0625rem;
    gap: 2rem;
}
.links{
    font-family: 'Rambla';
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s ease;
}
.links:hover{
    color:#00cccc;
}
.hamburger{
    visibility: hidden;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;

}

/* main */
#Home{
    display: flex;
    height: 42rem;
    padding: 0rem 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    background: url('./images/bg.jpeg') no-repeat lightgray;
    background-size: cover;
}
.home-text>h1{
    font-weight: 400;
}

#About{
    align-self: stretch;
    background-color: #222;
    padding: 5rem 15rem 5rem 15rem;
    color: #fff;
}
.about-text-img{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    width: 100%;
}

.about-text{
    padding: 5rem 15rem 5rem 0;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 1.5rem;
}
.about-img{
    content: url('./images/profile.png');
    margin-right: 6rem;
}
#Skills{
    padding: 5rem 15rem 5rem 15rem;
    background-color: #000;
}
.skill-text-img{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
}
.skill-text{
    padding-top: 3rem;
    padding-right: 2rem;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 1.5rem;
}
.skill-img{
    content: url('./images/skill-collage.png');
    
}

#Projects{
    padding: 10% 5%;
    font-family: 'Montserrat';
    font-weight: bolder;
    text-align: center;
    background-color: #222; 
    color: #fff;
    padding: 5rem 15rem 5rem 15rem;
}
.project-container{
    text-align: left;
}

.projects{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.project-info{
    display: flex;
    gap: 0;
}
.project-img{
    width: 40%;
}
.screenshot{
    width: 100%;
}
.project-details{
    width: 100%;
    margin-left: 5rem;
}
.project-title{
    font-weight: 800;
    font-family: "Rambla";
    font-weight: bold;
    font-size: 2rem;
}
.project-desc{
    margin-top: 1rem;
    font: 'Karla';
    font-size: 1rem;
    font-weight: 400;

}
.mail-icon{
    content: url('./images/mail.png');
    width: 24.5625rem;
    padding-top: 4rem;
}
#Socials{
    background-color: #000;
    color: #fff;
    padding: 5rem 15rem 5rem 15rem;
}
.social-container{
    display: flex;
}


.media-links{
    padding-top: 3rem;
    width: 96rem;
}
.social-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
}
.social-info{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    width: 100%;
}
.username{
    color: #fff;
}
.mail-icon{
    width: 100%;
}

@media (max-width: 1200px){
    .hamburger{
        position: relative;
        visibility: visible;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
        gap: 3rem;
    }
    .nav-menu{
        flex-direction: column;
        background-color: #222;
        width: 100%;
        opacity: 80%;
        position: absolute;
        padding: 1rem 0;
        gap: 2rem;
        top: 11%;
        left: -100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    #Home{
        padding: 5rem 8rem;
        display: block;
    }
    .home-text{
        padding-top: 10%;
        font-size: 4rem;
        text-align: center;
        font-size: 5rem;
        width:100%
    }
    #About{
        padding: 5rem 8rem;
        text-align: center;
    }
    .about-text-img{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 2rem;
    }
    .about-text{
        padding: 2rem 0;
    }
    .about-img{
        margin-left: 7.5rem;
    }
    #Skills{
        padding: 5rem 8rem;
        text-align: center;
    }
    .skill-text-img{
        flex-direction: column;
    }
    .skill-text{
        text-align: left;
    }
    .skill-img{
        margin-top: 2rem
    }
    
    #Projects{
        padding: 5rem 8rem;
    }
    .project-info{
        flex-direction: column;
        text-align: center;
    }
    .project-img{
        width: 100%;

    }
    .project-details{
        margin-top: 1rem;
        margin-left: 0;
    }

    #Socials{
        text-align: center;
        padding: 5rem 8rem;
    }
    .social-container{
        flex-direction: column;
    }
    .media-links{
        width: 100%;
    }
    .social-links{
        padding-left: 11rem;
    }
    .mail-icon{
        display: none;
    }
}